<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Countries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Countries</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let c of countries">
      <ion-avatar slot="start">
        <img [src]="c.flags.png" alt="Flag of {{c.name.official}}">
      </ion-avatar>
      <ion-label>
        <h2>{{ c.name.official }}</h2>
        <p>Capital: {{ c.capital ? c.capital[0] : 'N/A' }}, Region: {{ c.region }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
